// COLOR VARIABLES
$color-heading_1: #26e6f0;
$color-heading_2: #47bcc2;
$color-heading_3: #09bdc4;

$color-grey-light: #d4d4d4;
$color-grey-light-2: rgb(243, 243, 243);
$color-grey-1: #777;
$color-grey-2: rgb(167, 167, 167);
$color-grey-3: rgb(58, 58, 58);
$color-grey-4: #333;


// FONT VARIABLES


$font-primary: 'GothamPro', sans-serif;
$font-secondary: 'Superior Title', serif;




